// colors

:root {
  --white: #fff;
  --black: #000;

  --primary: #ff5b22;
  --primary-80: #ff7b4e;
  --primary-60: #ff8c64;
  --primary-40: #ffad90;
  --primary-30: #ffcdbc;
  --primary-20: #ffeee8;
  --primary-shade-80: #cc481b;
  --primary-shade-60: #993614;
  --primary-shade-40: #7f2d11;
  --primary-shade-30: #4c1b0a;
  --primary-shade-20: #331206;

  --secondary: #031d1f;
  --secondary-80: #1c3335;
  --secondary-60: #4e6062;
  --secondary-40: #677778;
  --secondary-30: #818e8f;
  --secondary-20: #b3bbbb;
  --secondary-10: #e5e8e8;

  --gray: #16161e;
  --gray-80: #44444b;
  --gray-60: #737378;
  --gray-40: #a1a1a5;
  --gray-30: #b9b9bb;
  --gray-20: #d0d0d2;
  --gray-10: #e7e7e8;

  --gray-shades-100: #5a6a89;
  --gray-shades-80: #7a87a0;
  --gray-shades-60: #9ca5b8;
  --gray-shades-40: #bdc3cf;
  --gray-shades-30: #cdd2db;
  --gray-shades-20: #dee1e7;
  --gray-shades-10: #eef0f3;

  --success: #0bd71f;
  --success-80: #3bdf4b;
  --success-60: #6ce778;
  --success-40: #9defa5;
  --success-30: #b5f3bb;
  --success-20: #cef7d2;
  --success-10: #e6fbe8;

  --error: #f54040;
  --error-80: #eb4545;
  --error-60: #f98c8c;
  --error-40: #fbb2b2;
  --error-30: #fcc5c5;
  --error-20: #fdd8d8;
  --error-10: #feebeb;

  --card-error: #ffd4d4;
  --card-success: #d2ffc2;
  --card-warning: #fff9c0;
}
