.ant-modal-root:has(.qr-modal) {
  .ant-modal-mask {
    z-index: 0 !important;
  }
  .ant-modal-wrap {
    z-index: unset !important;
    .ant-modal {
      .ant-modal-body {
        width: 100%;
        max-height: calc(100vh - 150px);
        overflow-y: auto;
      }
    }
  }
  .ant-modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
